<div class="contentWrapper" [class.visited]="visited">
    <div class="schoolWrapper">
        <div class="title">Schools</div>
        <div class="school">
            <div class="schoolName">
                Communication School Complex <br>(Zespół Szkół Łączności) in Poznań, Poland
            </div>
            <div class="date">
                <div class="years">2021 - Still Learning (3rd grade)</div>
            </div>
            <div class="subject">
                Specialty - Programming engineer (technik Programista)
            </div>
        </div>
        <div class="line"></div>
        <div class="school">
            <div class="schoolName">
                High school of National Polytechnic University of Armenia
            </div>
            <div class="date">
                <div class="years">2019 - 2021</div>
            </div>
            <div class="subject">
                Orientation - Math & Physics
            </div>
        </div>
    </div>
    <div class="courseWrapper">
        <div class="title">
            Courses
        </div>
        <div class="course">
            <div class="courseHost">Basic IT Centre Yerevan</div>
            <div class="courseName">HTML, CSS and JS course</div>
            <div class="date">03.2020 - 08.2020</div>
        </div>
    </div>
</div>