@import '../../styles.scss';

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contentWrapper {
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $regularSize;
    animation: appear 1s;

    .title {
        font-size: $menuSize;
        font-weight: 700;
    }

    .schoolWrapper {
        .school {
            margin-bottom: 20px;

            // border-bottom: 1px solid grey;
            .schoolName {
                color: $textColor;
            }
        }

        .line {
            position: relative;
            bottom: 10px;
            width: 12vw;
            height: 1px;
            background-color: grey;
        }
    }

    .courseWrapper {
        position: relative;
        right: calc(5rem + 5vw); // to make in one line with School

        .course {
            margin-top: 1vh;

            .courseHost {
                color: $textColor;
            }
        }
    }
}

.visited {
    animation-name: none;
    visibility: visible;
}