@import '../../styles.scss';

@keyframes appearAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contentWrapper {
    position: relative;
    top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    // languages part


    .languages {
        .languagesTitle {
            font-size: calc($regularSize * 1.5);
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 5px;
                animation: appearAnimation 1s;

                .progCircles {

                    display: flex;
                    gap: 0.4vw;

                    .progCircle {
                        width: calc(10px + 0.5vw);
                        height: calc(10px + 0.5vw);
                        background-color: rgb(3, 205, 3);
                        border-radius: 50%;
                        transition: all 0.5s;
                    }

                    .empty {
                        background-color: rgb(69, 69, 69);
                    }
                }

                .langName {
                    font-size: $regularSize;
                    margin-right: 10px;
                }
            }

            .visited {
                animation-name: none;
                visibility: visible;
            }
        }
    }

}