@import '../../styles.scss';

.contentWrapper {
    position: relative;
    top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appearingText {

    .email {
        @include typingText(3s, 0); //param1-animation length, param2 animation-delay
        letter-spacing: .05em;
        font-size: $regularSize;
    }

    .phone {
        @include typingText(3.5s, 2.5s);
        font-size: $regularSize;
        letter-spacing: .05em;
        visibility: hidden;
    }

    a {
        color: $textColor;
        margin-left: 0.4rem;
    }

    // reset animation if component has been visited
    .visited {
        animation-name: none;
        visibility: visible;
    }
}