<header>
  <nav>
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/Home" class="menu">Home</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/About" class="menu">About me</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/Skills" class="menu">My Skills</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/Education" class="menu">Education</a>
      </li>

      <li>
        <a routerLinkActive="active" routerLink="/Contact" class="menu">Contact</a>
      </li>
    </ul>
    <div class="switchers">
      <div class="themeSwitcher"></div>
      <div class="languageSwitcher"></div>
    </div>
  </nav>
</header>

<router-outlet (activate)="onActivate($event)"></router-outlet>