@import '../styles.scss';


header {

    nav {
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            list-style: none;
            gap: $regularSize;

            li {
                position: relative;
                font-size: $menuSize;
                transition: 0.3s;

                a {
                    text-decoration: none;
                }

                &:hover {
                    transform: translateY(20%);
                }

                &:active {
                    color: $textColor;
                    opacity: 0.6;
                }

                ::after {
                    display: block;
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    background-color: white;
                }

                .active {
                    color: $textColor;
                }
                .active::after{
                    background-color: $textColor;
                }
            }
        }
    }
}
