<div class="contentWrapper">
    <div class="mainBranch">
        <div class="htmlBranch" [class.visited]="visited">
            <div class="html circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)" ></div>
        </div>
        <div class="cssBranch" [class.visited]="visited">
            <div class="css circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
            <div class="scss circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
            <div class="bootstrap circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
        </div>
        <div class="jsBranch" [class.visited]="visited">
            <div class="js circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
            <div class="react circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
            <div class="ts circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
            <div class="angular circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
        </div>
        <div class="other" [class.visited]="visited">
            <div class="git circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
            <div class="github circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
            <div class="php circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
            <div class="mysql circle" (mouseenter)="changeLevel($event)" (click)="changeLevel($event)"></div>
        </div>
    </div>
    <div class="progressBar">
        <div class="progCircles">
            <div class="progCircle"></div> <!-- //first circle can't be empty -->
            <div class="progCircle" [class]="levelValue<2?'empty':''"></div>
            <div class="progCircle" [class]="levelValue<3?'empty':''"></div>
            <div class="progCircle" [class]="levelValue<4?'empty':''"></div>
            <div class="progCircle" [class]="levelValue<5?'empty':''"></div>
        </div>
        <div class="langName">
            {{langName}}
        </div>
    </div>
   
</div>